<main class="reply_edit">
  <%= link_to "Back", comments_path, class: "button reply_edit__button" %>
  <h1 class="reply_edit__title">Edit reply</h1>
  <div class="reply_edit__body">
    <%= render "form", comment: @comment, reply: @reply %>
  </div>
</main>