<main class="comment_new">
  <%= link_to "Back", comments_path, class: "button comment_new__button" %>
  <h1 class="comment_new__title">New comment</h1>
  <div class="comment_new__body">
    <%= render "form", comment: @comment %>
  </div>
</main>