.about {
	padding: 2rem 1rem;

	&__title {
		font-size: 2.5rem;
		text-align: center;
		margin: 0 0 2.5rem 0;
		color: var(--text_color);
		text-shadow: 1px 0.5px 0 var(--text_shadow);

		@media (max-width: $tablet) {
			font-size: 2rem;
			margin: 0 0 2rem 0;
		}

		@media (max-width: $mobile) {
			font-size: 1.8rem;
			margin: 0 0 1.5rem 0;
		}
	}
}

.about_point {

	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0.5rem;
		background-color: var(--theme_color_4);
		font-size: 1.5rem;
		padding: 0.5rem 2rem;
		margin: 0 0 1rem 0;
		border: 2px solid transparent;
		border-radius: 10px;
		box-shadow: 2px 2px 10px 0px var(--theme_color_7);
		cursor: pointer;

		&:hover {
			border-color: var(--theme_color_6);
		}

		svg {
			stroke: var(--theme_color_7);
			width: 2rem;
			height: 2rem;
			min-width: 2rem;
			transition: transform 0.1s ease-in-out;
		}

		@media (max-width: $tablet) {
			font-size: 1.2rem;
		}

		@media (max-width: $mobile) {
			padding: 0.5rem;
		}
	}

	&--active &__title {
		svg {
			transform: rotate(180deg);
		}
	}

	&__content {
		max-width: 80%;
		margin: 0 auto 1rem auto;
		display: flex;
		flex-direction: column;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease;
		font-size: 1.4rem;
		font-weight: 600;

		img {
			margin: 0 0 1rem 0;
			padding: 0.5rem;
			border: 1px solid var(--theme_color_4);
			border-radius: 10px;
			cursor: pointer;
		}

		@media (max-width: $mobile) {
			max-width: 90%;
		}
	}

	.todo_list {
		list-style: decimal outside;
		padding: 0 0 0 2.5rem;

		@media (max-width: $mobile){
			padding: 0 0 0 1.6rem;
		}

		li:first-child {
			margin: 1.5rem 0 0.2rem 0;
		}

		li {
			color: $light_color;
			background-image: var(--background-image_2);
			margin: 0.2rem 0;
			padding: 0.2rem 0.5rem 0.2rem 1rem;
			border-radius: 10px;

			@media (max-width: $tablet){
				padding: 0.2rem 0.5rem;
				font-size: 1.2rem;
			}

			@media (max-width: $mobile){
				font-size: 1rem;
			}
		}
	}

	.libraries_list {
		color: var(--text_color);
		list-style: none;

		& > li:first-child {
			margin: 1.5rem 0 0.5rem 0;
		}

		li {
			margin: 0 0 0.5rem 0;
		}

		li:last-child {
			margin: 0;
		}

		h3 {
			font-size: 1.5rem;
			color: var(--theme_color_7);
			background-color: var(--theme_color_4);
			padding: 0 1.5rem;
			display: inline-block;
			border-radius: 10px;
			margin: 0 0 0.5rem 0;

			@media (max-width: $mobile){
				font-size: 1.2rem;
			}
		}

		ul {
			list-style: disc inside;
			padding: 0 0 0 2.5rem;
			color: $light_color;

			@media (max-width: $tablet){
				font-size: 1.2rem;
			}
		}
	}

	.resources_list {
		list-style: disc;
		padding: 0 0 0 2.5rem;
		color: var(--text_color);

		li:first-child {
			margin: 1.5rem 0 1.5rem 0;
		}

		li {
			margin: 0 0 1.5rem 0;

			@media (max-width: $tablet){
				font-size: 1.2rem;
			}
		}

		a {
			text-decoration: underline;
			color: var(--theme_color_1);
		}

		a:hover {
			color: var(--theme_color_3);
		}
	}
}

