.comments_demonstration {
	max-width: 70%;
	padding: 3rem 0 0 0;
	margin: 0 auto;
	color: var(--text_color);

	@media (max-width: $tablet) {
		padding: 2rem 0 0 0;
	}

	@media (max-width: $mobile) {
		padding: 1rem;
		max-width: 100%;
	}

	h1 {
		text-align: center;
		font-size: 2.5rem;
		margin: 0 0 3rem 0;
		text-shadow: 1px 0.5px 0 var(--text_shadow);

		@media (max-width: $tablet) {
			font-size: 2rem;
			margin: 0 0 2rem 0;
		}
	}

	p {
		font-size: 1.4rem;
		font-weight: 500;
		text-shadow: 1px 0.5px 0 var(--text_shadow);
	}

	span {
		color: var(--theme_color_2);
		font-weight: 700;
	}
}