.home {
	padding: 5rem 0 0 0;

	&__title {
		font-size: 3rem;
		text-align: center;
		margin: 0 0 5rem 0;
	}

	&__body {
		font-size: 1.2rem;
		font-weight: 600;
		max-width: 50%;
		margin: 0 auto;
	}
}


