.privacy_policy {
	padding: 2rem 0 0 0;
	background-color: var(--privacy_policy_background_color);

	&__button {
		margin: 0 0 0 2rem;
	}

	&__title {
		text-align: center;
		font-size: 3rem;
		border-bottom: 2px solid var(--theme_color_7);
    max-width: 50%;
    margin: 0 auto 1rem;
	}

	&__body {
		max-width: 70%;
		margin: 0 auto;
		font-size: 1.2rem;
		font-weight: 500;

		h2 {
			margin: 0 0 0.2rem 0;
		}

		p {
			margin: 0 0 0.7rem 0;
			padding: 0 0 0 2rem;
		}

		ul {
			padding: 0 0 0 2rem;
			list-style: disc;
		}
	}
}

