<% if resource.errors.any? %>
  <div class="devise_form__errors" id="error_explanation" data-turbo-cache="false" data-controller="notificationsErrors">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <button type="button" data-action="notificationsErrors#close">&times;</button>
  </div>
<% end %>
