<div class="cookie_banner_card" data-controller="cookieBanner">
  <div class="cookie_banner_card__header">
    <h2><%= t("cookie_banner.title") %></h2>
    <button data-action="cookieBanner#close_banner">&times;</button>
  </div>
  <p>
    <%= t("cookie_banner.body") %> <strong><%= link_to "Privacy Policy", pages_privacy_policy_path %></strong>.
  </p>
</div>