#flash_container {
	position: fixed;
	z-index: 20;
	top: 0;
	right: 0;
	margin: 0 2px;
}

.flash_messages {
	position: relative;
	background-color: $flash_background_color;
	color: $light_color;
	font-size: 1.2rem;
	text-align: start;
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
	padding: 0 0 0.1rem 0;
	margin: 0 0 0.1rem 0;
	--time-line-width: 0;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: var(--time-line-width);
		height: 2px;
		background-color: var(--theme_color_1);
		transition: width 4s linear;
	}

	li {
		margin: 0.2rem;
		padding: 0.2rem 0.4rem;
		border-radius: 5px;
	}

	&__notice {
		background-color: $flash_notice_color;
	}

	&__alert {
		background-color: $flash_alert_color;
	}

	button {
		align-self: flex-start;
		color: $light_color;
		background-color: $gray_color;
		border: 1px solid $dark_color;
		box-shadow: 2px 2px 0px 0px $dark_color;
		padding: 0rem 0.8rem;
		margin: 0.2rem;
		cursor: pointer;
	}

	button:active {
		box-shadow: 1px 1px 0px 0px var(--theme_color_7);
		transform: translateY(2px);
	}
}