.form_errors {
	position: fixed;
	top: 0;
	left: 0;
	width: 20%;
	background-color: $error_background_color;
	color: $light_color;
	border-radius: 5px;
	font-size: 1.2rem;
	text-align: start;
	display: flex;
	gap: 0.5rem;

	ul {
		list-style: disc;
		padding: 0.5rem 0.5rem 0.5rem 2rem;
	}

	button {
		align-self: flex-start;
		background-color: $error_color;
		border: 1px solid var(--theme_color_7);
		box-shadow: 2px 2px 0px 0px var(--theme_color_7);
		padding: 0rem 0.8rem;
		margin: 0.5rem 0.5rem 0 0;
		cursor: pointer;
	}

	button:active {
		box-shadow: 1px 1px 0px 0px var(--theme_color_7);
		transform: translateY(2px);
	}
}