.header {
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	background-color: var(--theme_color_6);
	border: 2px solid var(--theme_color_7);
	box-shadow: 4px 4px 10px 0px var(--theme_color_7);
	color: var(--header_color);

	&__navigation {
		display: flex;
		align-items: center;
		gap: 1rem;
		font-size: 1.4rem;
		font-weight: 700;

		a:hover {
			color: var(--theme_color_3);
		}

		a.navigation__link--active {
			color: var(--theme_color_2);
		}
	}

	&__controls {
		display: flex;
		align-items: center;
		gap: 1.2rem;
	}
}

.controls {
	&__login {
		font-size: 1.4rem;
		font-weight: 700;
		cursor: pointer;
	}
}



