<header class="header">
  <ul class="header__navigation">
    <%= link_to "Home", root_path %>
    <%= link_to "Projects", pet_projects_path %>
    <%= link_to "About", page_about_path %>
  </ul>
  <ul class="header__controls">
    <div class="theme_switcher">
      <span></span>
    </div>
    <div class="lang_switcher">Lang En</div>
    <div class="controls__login">Log In</div>
    <div class="menu_button">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </ul>
</header>