<nav class="menu">
  <ul class="navigation">
    <%= link_to "Home", root_path %>
    <%= link_to "Pet projects", pet_projects_path %>
    <%= link_to "About", page_about_path %>
  </ul>
  <ul class="controls">
    <div>controls</div>
  </ul>
</nav>