<% provide :current_page_tab_title, current_page_tab_title('Comments') %>
<%= render partial: "shared/header", locals: { current_page: 'Comments' } %>

<main>
  <h1>Comments_demonstration page</h1>
  <p>
    You can leave your comments on this page.
    Your comments will only be visible to you and the author of the website.
    However, you must register to leave comments.
  </p>
</main>
