<% provide :current_page_tab_title, current_page_tab_title('Comments') %>
<%= render partial: "shared/header", locals: { current_page: 'Comments' } %>

<main class="comments_demonstration">
  <h1>Here you can leave your comments</h1>
  <p>
    You can leave your comments on this page.
    Your comments will only be visible to you and the author of the website.
    <span>However, you must register to leave comments.</span>
  </p>
</main>
