<% provide :current_page_tab_title, current_page_tab_title('Home') %>
<%= render partial: "shared/header", locals: { current_page: 'Home' } %>

<main class="home">
  <h1 class="home__title">Main page</h1>
  <div class="home__body">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt omnis dicta suscipit.
      Perferendis deleniti illum veritatis odit, 
      soluta corrupti nihil optio assumenda quas nulla dolor ab iure placeat sit nostrum!
      Laudantium quisquam ipsum eum quaerat in sint deleniti et ad perferendis nulla, magni tempora ab. 
      Perspiciatis, facilis, in cumque harum ut veritatis illum cum veniam deserunt velit quam neque repellendus.
    </p>
  </div>
</main>
