<% provide :current_page_tab_title, current_page_tab_title(t("header.home")) %>
<%= render partial: "shared/header", locals: { current_page: t("header.home") } %>

<main class="home">
  <h1 class="home__title"><%= t(".title") %></h1>
  <div class="home__body">
    <p><%= t(".body") %></p>
  </div>
</main>
