.devise_form {
	font-size: 1.4rem;
	color: var(--text_color);
	text-align: center;

	@media (max-width: $mobile) {
		width: 100%;
	}

	&__field {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.2rem;
		flex-wrap: wrap;
		padding: 0.8rem;
		text-align: start;

		input {
			min-width: 77%;
			padding: 0.5rem 1rem;
			font-weight: 700;
			outline: none;
			flex-grow: 10;
			flex-shrink: 1;
			box-shadow: inset 0 2px 2px var(--theme_color_7);

			@media (max-width: $mobile) {
				min-width: 0%;
			}
		}

		input.field_with_errors {
			box-shadow: inset 0 4px 5px $red_color;
		}

		label {
			cursor: pointer;
			text-decoration: underline;
			flex-basis: 20%;
			flex-grow: 1;
		}

		label:hover {
			color: var(--theme_color_3);
		}
	}

	&__check_box_field {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		padding: 1rem;

		label {
			cursor: pointer;
			text-decoration: underline;
		}

		label:hover {
			color: var(--theme_color_3);
		}
	}

	&__button {
		margin: 1rem 0;
	}
}