.sign_in_up {
	padding: 1rem 0;

	&__title {
		text-align: center;
		font-size: 2.5rem;
		background-color: var(--theme_color_4);
		border-bottom: 2px solid var(--theme_color_2);
    max-width: 50%;
    margin: 0 auto 3rem;
		border-top-left-radius: 100%;
		border-top-right-radius: 100%;

		@media (max-width: $mobile) {
			font-size: 2rem;
		}
	}

	&__body {
		max-width: 70%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;

		@media (max-width: $tablet) {
			max-width: 80%;
		}

		@media (max-width: $mobile) {
			max-width: 100%;
		}
	}

	&__button {
		margin: 0 0 1rem 2rem;

		@media (max-width: $tablet) {
			margin: 0 0 2rem 2rem;
		}
	}

	&__form {
		margin: 0 0 1.5rem 0;
	}

	&__text {
		font-size: 1.5rem;
		font-weight: 700;
		text-align: center;
		color: var(--theme_color_2);
		margin: 0 0 1.5rem 0;
	}
	
	&__oauth_links {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.8rem;
		padding: 2rem;
		border: 2px solid var(--theme_color_4);
		align-self: center;
		margin: 0 0 2rem 0;

		@media (max-width: $mobile) {
			padding: 2rem 1rem;
		}

		button {
			padding: 0.5rem 4rem;
			border: 2px solid var(--theme_color_7);
			box-shadow: 2px 2px 0px 0px var(--theme_color_7);
			font-weight: 700;
			cursor: pointer;
		}

		button:active {
			box-shadow: 1px 1px 0px 0px var(--theme_color_7);
			transform: translateY(2px);
		}

		button:hover {
			background-color: var(--theme_color_2);
		}

		:nth-child(1) button {
			color: blue;
		}

		:nth-child(2) button {
			color: #8102ff;
		}

		:nth-child(3) button {
			color: green;
		}
	}

	&__devise_links {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}
}



