.header_login {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	& a {
		font-size: 1.4rem;
		font-weight: 700;
		cursor: pointer;
	}

	& a:hover {
		color: var(--theme_color_3);
	}

	& img {
		border-radius: 50%;
	}

	& span {
		color: var(--theme_color_2);
	}
}