.menu_button {

	&__title {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: var(--theme_color_6);
		height: 1.5rem;
		border: none;
		cursor: pointer;
	
		span {
			width: 2rem;
			height: 0.25rem;
			background-color: var(--menu__button_background_color);
			transition: all 0.2s ease-in-out;
		}

		&:hover {
			span {
				background-color: var(--theme_color_3);
			}
		}
	}

	&__body {
		position: absolute;
		top: 100%;
		right: 0;
		display: none;
		flex-direction: column;
		gap: 0.5rem;
		padding: 0.7rem;
		background-color: var(--theme_color_6);
		border: 2px solid var(--theme_color_7);
		box-shadow: 4px 4px 10px 0px var(--theme_color_7);
		font-size: 1.2rem;
		font-weight: 600;

		a {
			white-space: nowrap;
		}

		a:hover {
			color: var(--theme_color_2);
		}
	}

	&--active &__title {
		justify-content: space-around;

		span:nth-child(2) {
			display: none;
		}

		span {
			background-color: var(--theme_color_2);
			border-radius: 5px;
		}

	}

	&--active &__body {
		display: flex;
	}

}