.short_card {
	max-width: 50%;
	margin: 0 0 1rem 0;
	padding: 1rem 0 1.5rem 0;
	display: flex;
	flex-direction: column;
	border-bottom: 2px dashed var(--theme_color_4);

	@media (max-width: $small_screen) {
		max-width: 80%;
	}

	@media (max-width: $mobile) {
		max-width: 100%;
		padding: 1rem;
	}

	&__title {
		background-color: var(--theme_color_4);
		text-align: center;
		margin: 0 0 1rem 0;
		border-top: 4px solid var(--theme_color_2);
	}

	&__description {
		font-size: 1.2rem;
		font-weight: 500;
		line-height: 1.4rem;
		margin: 0 0 1rem 0;
		padding: 0 1rem;
		border-left: 2px solid var(--theme_color_2);
	}

	&__image {
		margin: 0 0 1rem 0;
		align-self: center;
	}

	&__links {
		margin: 0 0 1rem 0;
		padding: 0 1rem;
		border-left: 2px solid var(--theme_color_2);
		font-size: 1.2rem;
		font-weight: 700;

		a {
			font-weight: 400;
		}

		a:hover {
			color: var(--theme_color_3);
		}
	}

	&__button {
		align-self: center;
	}
}