.sort {
	position: relative;
	margin: 0 1.5rem 0 0;
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.25rem;

	&__title {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		background-color: var(--theme_color_4);
		padding: 0.25rem 0.8rem 0.25rem 1.2rem;
		border: 1px solid var(--theme_color_7);
		box-shadow: 2px 2px 0px 0px var(--theme_color_7);
		cursor: pointer;

		svg {
			fill: var(--theme_color_7);
			stroke: var(--theme_color_7);
			width: 1rem;
			height: 1rem;
			transition: transform 0.2s ease-in-out;
		}

		&:hover {
			background-color: var(--theme_color_2);
		}
	}

	&__body {
		position: absolute;
		display: none;
		flex-direction: column;
		gap: 0.5rem;
		text-align: center;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 0.5rem;
		background-color: var(--theme_color_4);
		border: 1px solid var(--theme_color_7);

		a {
			color: var(--theme_color_1);
			padding: 0.2rem 0.5rem;
			border: 1px solid var(--theme_color_7);
			border-radius: 10px;
			background-color: var(--theme_color_6);
		}

		a:hover {
			color: var(--theme_color_3);
		}

		a.sort__link--active {
			color: var(--theme_color_3);
			cursor: default;
			pointer-events: none;
		}
	}

	&--active &__title {
		box-shadow: 1px 1px 0px 0px var(--theme_color_7);
		transform: translateY(1px);

		svg {
			transform: rotate(-180deg);
		}
	}

	&--active &__body {
		display: flex;
	}
}