.spinner {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 1.5rem;
	padding: 2rem;
	border: 0.5rem solid $spinner_background_color;
  border-left-color: $spinner_color;
  border-radius: 50%;
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}