.theme_switcher {
	position: relative;
	display: flex;
	background-color: var(--theme_color_2);
	border-radius: 30px;
	text-align: end;
	box-shadow: inset 1px 1px 4px $gray_color,
	inset -1px -1px 2px $light_color;

	&__pointer {
		position: absolute;
		top: 0;
		left: 0;
		width: 1.5rem;
		height: 1.4rem;
		background-color: var(--theme_color_6);
		border-radius: 50%;
		margin: 0.2rem 0.35rem;
		transition: left 0.2s ease-in-out;
		box-shadow: inset -0.5px -0.5px 1px $gray_color,
								inset	0.5px 0.5px 1px $light_gray_color;
	}

	&__pointer--light {
		left: 0;
	}

	&__pointer--middle {
		left: 2.2rem;
	}

	&__pointer--dark {
		left: 4.4rem;
	}

	&__button {
		position: relative;
		z-index: 2;
		margin: 0.3rem 0.5rem;
		line-height: 0;
		cursor: pointer;

		svg {
			fill: var(--theme_color_7);
			stroke: var(--theme_color_7);
			width: 1.2rem;
			height: 1.2rem;
		}

		&:hover svg {
			fill: var(--theme_color_3);
			stroke: var(--theme_color_3);
		}

		&--active svg {
			fill: var(--theme_color_1);
			stroke: var(--theme_color_1);
		}
	}

}