.theme_switcher {
	position: relative;
	display: flex;
	// width: 5rem;
	// height: 1.5rem;
	background-color: $moddle_theme_color_1;
	border-radius: 30px;
	text-align: end;

	&__pointer {
		position: absolute;
		top: 0;
		left: 0;
		width: 1.5rem;
		height: 1.4rem;
		background-color: $moddle_theme_color_5;
		border-radius: 50%;
		margin: 0.2rem 0.35rem;
		transition: left 0.2s ease-in-out;
	}

	&__pointer--light {
		left: 0;
	}

	&__pointer--middle {
		left: 2.2rem;
	}

	&__pointer--dark {
		left: 4.4rem;
	}

	&__button {
		margin: 0.3rem 0.5rem;
		line-height: 0;
		cursor: pointer;
		z-index: 2;

		svg {
			fill: #000;
			stroke: #000;
			width: 1.2rem;
			height: 1.2rem;
		}

		&:hover svg {
			fill: $moddle_theme_color_2;
			stroke: $moddle_theme_color_2;
		}

		&--active svg {
			fill: #fff;
			stroke: #fff;
		}
	}

}