@font-face {
	font-family: 'sourcesanspro';
	font-style: normal;
	font-weight: bold;
	font-display: block;
	src: url(https://design.penpot.app/fonts/sourcesanspro-bold.woff) format('woff');
}
@font-face {
	font-family: 'sourcesanspro';
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url(https://design.penpot.app/fonts/sourcesanspro-regular.woff) format('woff');
}

body {
	background-color: #000;
	box-sizing: border-box;
}

.title {
	color: #fff;
}

