$light_theme_color_1: #ffffff;
$light_theme_color_2: #E7E4B5;
$light_theme_color_3: #DEEFE7;
$light_theme_color_4: #B4BEC9;
$light_theme_color_5: #883041;
$light_theme_color_6: #159A9C;
$light_theme_color_7: #002333;