$light_theme_color_1: #ffffff;
$light_theme_color_2: #E7E4B5;
$light_theme_color_3: #DEEFE7;
$light_theme_color_4: #B4BEC9;
$light_theme_color_5: #883041;
$light_theme_color_6: #159A9C;
$light_theme_color_7: #002333;


$moddle_theme_color_1: #FFEC5C;
$moddle_theme_color_2: #FF5A33;
$moddle_theme_color_3: #B4CF66;
$moddle_theme_color_4: #44803F;
$moddle_theme_color_5: #146152;
$moddle_theme_color_6: #000000;


$dark_theme_color_1: #F2C1F2;
$dark_theme_color_2: #A19258;
$dark_theme_color_3: #86A697;
$dark_theme_color_4: #6D8C7B;
$dark_theme_color_5: #404040;
$dark_theme_color_6: #0C2216;
$dark_theme_color_7: #0D0D0D;