// media
$mobile: 480px;
$tablet: 768px;
$small_screen: 950px;

// colors
$light_color: #fff;
$dark_color: #000;
$gray_color: #444343;
$light_gray_color: #b2b2b2;
$orange_color: #e98101;
$green_color: #2e9e02;
$red_color: #f1350b;

$error_background_color: $orange_color;

$flash_background_color: #383737;
$flash_notice_color: $green_color;
$flash_alert_color: $orange_color;

$spinner_color: #932ed1;
$spinner_background_color: $dark_color;


[data-theme="light"] {
	--theme_color_1: #{$light_color};
	--theme_color_2: #E7E4B5;
	--theme_color_3: #932ed1;
	--theme_color_4: #B4BEC9;
	--theme_color_5: #883041;
	--theme_color_6: #159A9C;
	--theme_color_7: #002333;

	--background-image: radial-gradient(100% 70% at 10% 10%, #05344a 0%, #082a3a 45%, #001e2c 100%);
	--background-image_2: radial-gradient(100% 70% at 10% 10%, #05344a 0%, #082a3a 45%, #001e2c 100%);
	--privacy_policy_background_color: var(--theme_color_5);
	--header_color: var(--theme_color_7);
	--header_background_color: var(--theme_color_6);
	--button_background_color: var(--theme_color_6);
	--menu__button_background_color: var(--theme_color_7);

	--text_color: #b9d1e9;
	--text_color_2: var(--theme_color_7);
}

[data-theme="middle"] {
	--theme_color_1: #{$light_color};
	--theme_color_2: #FFEC5C;
	--theme_color_3: #FF5A33;
	--theme_color_4: #B4CF66;
	--theme_color_5: #44803F;
	--theme_color_6: #146152;
	--theme_color_7: #{$dark_color};

	--background-image: radial-gradient(50% 50% at 50% 50%, #062e19 0%, #0C2216 100%);
	--background-image_2: radial-gradient(50% 50% at 50% 50%, #0b3c23 0%, #0C2216 100%);
	--privacy_policy_background_color: var(--theme_color_5);
	--header_color: var(--theme_color_7);
	--header_background_color: var(--theme_color_6);
	--button_background_color: var(--theme_color_6);
	--menu__button_background_color: var(--theme_color_7);

	--text_color: var(--theme_color_7);
	--text_color_2: var(--theme_color_7);
}

[data-theme="dark"] {
	--theme_color_1: #{$light_color};
	--theme_color_2: #F2C1F2;
	--theme_color_3: #fbff28;
	--theme_color_4: #86A697;
	--theme_color_5: #404040;
	--theme_color_6: #0C2216;
	--theme_color_7: #{$dark_color};

	--background-image: radial-gradient(100% 70% at 90% 0%, #1a2821 0%, #0D0D0D 90%, #0D0D0D 100%);
	--background-image_2: radial-gradient(100% 70% at 10% 10%, #1d3d2d 0%, #143021 75%, #1a2821 100%);
	--privacy_policy_background_color: var(--theme_color_4);
	--header_color: var(--theme_color_4);
	--header_background_color: var(--theme_color_4);
	--button_background_color: var(--theme_color_4);
	--menu__button_background_color: var(--theme_color_4);

	--text_color: #bdddce;
	--text_color_2: #bdddce;
}

